<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<h1>
    Green Country Dog Houses
</h1>
<h2>Tulsa's #1 Supplier of Luxury Dog Houses</h2>
<h3>3 x Winner of the "Best in the World" award by the Tulsa World Newspaper - 2020, 2022, 2023</h3>

<h3>Our Story</h3>
<p>
    Green Country Dog Houses was created in 2018 by Amy Miller
    and her husband John Miller in their garage in Tulsa, Oklahoma.
    Since then, the company has opened a storefront at 344 S. Yale Ave. and hired 10 employees to
    serve its human and four-legged customers!
</p>

<h3>High Quality Luxury Dog Houses, Made to Last</h3>
<h4>Product Features</h4>
<ul>
    <li><b>Our houses can accommodate a dog of ANY size! - </b>We build "Medium" and "Large" size homes, both of
    which are roomy!  Our Medium homes are 40"L x 32"W X 33"H and can accommodate dogs up to 150 pounds.
          Our Large homes are 48"D x 40"W X 41"H and can accommodate dogs up to 220 pounds.</li>
    <li><b>Pet Safe Heaters - </b>All of our houses are equipped with a Chtoocy 600W heater
        with a thermostat and an anti chew cord.</li>
    <li><b>Performance Insulated Liner - </b> All 6 sides of our houses are lined with a 1.0"
    insulation layer to give your dog 360 degrees of warmth in the cold weather.</li>
    <li><b>Weather Resistant and Leak-Proof - </b>All of our houses come with features to keep water and
        weather out: exterior waterproof paint, elevated floors, and sloped roofs.</li>
    <li><b>Durable - </b>Our house frames are constructed of 100% fir wood and metal.
    Our Medium and Large houses can support a weight of 150 pounds and 220 pounds, respectively.
    </li>
    <li><b>Easy to Clean - </b>The insulation liner cover is removable and machine washable.
        And the hinged roof makes cleaning a breeze!</li>
    <li><b> Your purchase makes a difference! - </b>Green Country Dog Houses donates 10% of all proceeds
        to the Humane Society of Tulsa</li>
</ul>

<a th:href="@{/mainscreen}" >
    <button>Click here to return Home</button>
</a>

</body>
</html>